*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
.logo{
    
    z-index: 10;
}
#logo{
    height: 100px;
    /* width: 100px; */
}

.container1{
    
    display: flex;
}
.container2{
    display: flex;
    margin-top: 50px;
    
}
.div1{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 3px 4px 3px white ;
}
#img1{
    width:100% ; 
   
}
img:hover{
    position:absolute;
    opacity: 0;
    cursor: pointer;
    transition: all 0.8s;
}
.box{
    height:500px;
    width: 500px;
    
    position:absolute;
    margin-top: -750px;
    margin-left: 900px;
    
}
.box h1{
    font-family: 'Brush Script MT', cursive;
    font-size: 55px;
    margin-left: 20px;
    color:gold;
    font-weight: 100;
    
 
}
.box p{
    padding: 40px;
    text-align: center;
    color: goldenrod;
    
    font-family: 'Brush Script MT', cursive;
    font-size: 30px;
}
fieldset{
    border-color:  goldenrod;
    
}
legend{
    
    text-align: center;
    font-size: larger;
}





    

