
*{
   padding: 0;
   margin: 0;
}


.sign{
   width: 100%;
   height: 800px; 
 background-image: url("image/bride1.JPG");
 background-position: center;
 
background-size: cover;
background-repeat: no-repeat;
position:fixed;

background-color:black;

}
#backbtn{
   background-color:black;
   color: white;
   font-weight: bold;
   font-size: large;
   border: transparent;
   padding:  15px 30px 15px 25px;
   margin: 40px;
   border-radius: 50%;
}
#backbtn:hover{
  background-color:goldenrod ;
  
}
.bigdiv{
  justify-content: center;
  display: flex;
  
}
.div1{
  text-align: justify;
  height: 400px;
  width: 450px;
  
background-image: linear-gradient(#0f103579,#525CEB);
border-right: 6px solid white;
  
  
  padding: 30px;
}
.div2{
  text-align: justify;
  height: 400px;
  width: 450px;
  background-image:linear-gradient(#0f103561,#525CEB) ;
  
  padding: 30px;
}
h1{
  text-align: center;
  color: white;
}
p{
  color: wheat;
}
input{
  height: 30px;
  outline: none;
  text-align: center;
  width: 90%;
  border-radius: 20px;
  border: transparent;
  background-color: rgba(255, 255, 255, 0.928);
  color:black;
}
input:hover{
  background-color: rgba(0, 0, 0, 0.598);
  color: white;
}
  label{
    color:white;
    font-weight: 100;
    font-weight: bolder;
    font-size: x-large;
  }
.btn1{
  background-color:red;
  height: 40px;
  width: 50%;
  border: transparent;
  border-radius: 20px;
  margin-left: 100px;
  font-weight: bold;
}
.btn1:hover{
  background-color: rgba(255, 0, 0, 0.594);
}
.btn2{
  background-color:red;
  height: 40px;
  width: 50%;
  border: transparent;
  border-radius: 20px;
  margin-left: 100px;
  font-weight: bold;
}
.btn2:hover{
  background-color: rgba(255, 0, 0, 0.594);
}


  

 
 